.header {

  min-height: 200px;
  background-color: rgba(10, 10, 10, 0.88);

}

@media screen and (max-width: 768px) {
  .header {

    min-height: 250px;
    background-color: rgba(10, 10, 10, 0.88);

  }

  .upper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

  }

  .logo {
    margin-bottom: 15px;
  }

  .lower {
    margin-top: -50px;
    flex-wrap: wrap;
    gap: 10px;

  }

  input {
    width: 90%;
    /* Full width on small screens */
    max-width: 300px;
  }
}


.upper {
  display: flex;
  justify-content: space-between;
  padding: 54px;

}

.logo {
  color: #FF4343;
}

input {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #FF4343;
  width: 285px;
  height: 40px;
  background-color: transparent;
  color: white;



}

.lower {
  display: flex;
  padding: 10px 0;
  gap: 14px;
  justify-content: center;


}